.merri {
  font-family: 'Merriweather';
}
.josefin {
  font-family: 'Josefin Sans';
}
.poppins {
  font-family: 'Poppins';
}
.blog_title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}
.clamp3{
  -webkit-line-clamp: 3;
}