{% extends 'base.html' %}

{% block content %}

<div class="container card my-5">
  <div class="row mx-0 py-4">
    <div class="col-12">
      <h4 class="merri">Blog Title Blog Title Blog Title Blog Title Blog Title Blog Title Blog Title Blog Title</h4>
      <h5 class="text-secondary merri"><i>John Doe</i>, 12 Mar 2020</h5>
      <p class="poppins">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>

{% endblock %}